<div id="cabeceraLog">
    <div id="menu">

        <a href="/preguntas" class="opcion" role="button">Preguntas</a>
        <a href="/preguntas/preguntaSinResponder" class="opcion" role="button">Sin responder</a>
        <a href="/logout" class="opcion" role="button">Cerrar sesion</a>
     
    </div>

    <div>
        <img id="logo" src="/iconos/logo.png">
    </div>

    <div id="perfil">
        <img id="foto" src="/imagen/<%- imagen %>">
        <form method="POST" action="/perfil">
            <input id="ident" name="ident" type="hidden" value="<%-correo%>">
            <input class="btnPerfil" type="submit" value="<%- usuario.Nombre %>">
        </form>
        
        <!--<a href="/perfil/<%-correo%>"><%-usuario.Nombre%></a>-->
        <a href="/logout" class="opcion" role="button">Cerrar sesion</a>
    </div>
</div>