<!DOCTYPE html>
<html lang="es">

<head>
    <%-
    include("headers")
%>
</head>

<body>
    <header>
        <%-
        include("headerLogged");
    %>
    </header>
    <%-
        include("busqueda");
    %>

    <div class="boxFormulario">

        <div id="boxPregunta">
            <div id="boxTituloPreguntas">
                <label>Todas las preguntas</label>
            </div>

            <div id="boxSubGrupo">
                <label><%- preguntas.length %> preguntas</label>
                <a href="/creaPregunta" id="buttonFormularPregunta" role="button">Formular pregunta</a>
            </div>

            <% preguntas.forEach(function(pregunta, preguntas){ %>
            <div class="pregunta">
                <div class="info">
                    <a href="/preguntas/pregunta/<%= pregunta.ID_Pregunta%>">
                        <%= pregunta.Titulo%>
                    </a>
                    <p> <%= pregunta.Cuerpo.substring(0, 150) %>
                    </p>
                    <div class="tags">
                        <%
                        let obj = JSON.parse(pregunta.Equiquetas);
                        for(let i =0; i < obj.length; ++i){ %>
                        <div class= "tag"><%= obj[i]["titulo"] %></div>
                        <% }; %>
                    </div>


                </div>
                <div class="formulador">
                    <h2>Formulada:
                        <%- pregunta.Fecha.getDate()+"/"+ (pregunta.Fecha.getMonth()+1) +"/"+ pregunta.Fecha.getFullYear() %>
                    </h2>
                    <img id="foto" src="/imagen/<%- pregunta.FotoPerfil %>">
                    <form method="POST" action="/perfil">
                        <input id="ident" name="ident" type="hidden" value="<%-pregunta.ID_Usuario%>">
                        <input class="btnPerfil" type="submit" value="<%-pregunta.Nombre%>">
                    </form>
                </div>
            </div>
            <%});%>
        </div>

    </div>
</body>

</html>