<!DOCTYPE html>
<html lang="es">

<head>
    <%-
    include("headers")
%>
</head>

<body>
    <header>
        <%-
        include("headerLogged");
    %>
    </header>
    <%-
        include("busqueda");
    %>

    <div class="boxFormulario">

        <div id="boxPregunta">
            <div id="boxTituloPreguntas">
                <label>Todas las preguntas</label>
            </div>

            <div id="boxSubGrupo">
                <label><%- preguntas.length %> preguntas</label>
                <button id="buttonFormularPregunta"> Formular una pregunta </button>
            </div>

            <% preguntas.forEach(function(pregunta, i, preguntas){ %>
            <div class="pregunta">
                <div class="info">
                    <a href="/preguntas/pregunta/<%= pregunta.ID_Pregunta%>">
                        <%= pregunta.Titulo%>
                    </a>
                    <p> <%= pregunta.Cuerpo.substring(0, 150) %>
                    </p>
                   
                </div>
                <div class="formulador">
                    <h2>Formulada: <%- pregunta.Fecha.getDate()+"/"+ pregunta.Fecha.getMonth()+"/"+ pregunta.Fecha.getFullYear() %></h2>
                    <img id="foto" src="/imagen/<%- pregunta.FotoPerfil %>">
                    <a href="/perfil/<%-pregunta.ID_Usuario%>"><%-pregunta.Nombre%></a>
                </div>
            </div>
            <%});%>
        </div>

    </div>
</body>

</html>