<!DOCTYPE html>
<html lang="es">

<head>
    <%-
         include("headers")
    %>
</head>

<body>
    <header>
        <%-
            include("headerLogged");
        %>
    </header>

    <%-
    include("busqueda");
    %>


    <div id="boxPerfil">
        <div id="boxSuperior">
            <div id="boxUsuario">
                <img src="/imagen/<%- usuario.FotoPerfil %>">
                <h2><%- usuario.Nombre %></h2>
                <h2>Miembro desde: <%- usuario.FechaAlta.getDate()+"/"+ usuario.FechaAlta.getMonth()+"/"+usuario.FechaAlta.getFullYear() %></h2>
            </div>

            <div id="boxEstadistica">
                <div id="boxTextEstadisticas">
                    <p id="text_estadisticas">ESTADISTICAS</p>
                </div>
                <div id="boxReputacion" style="display:flex">
                    <div id="boxPreguntas">
                        <h2>Preguntas</h2>
                        <p class="datos"><%- numeroPreguntas %></p>
                    </div>
                    <div id="boxRepu">
                        <h2>Reputacion</h2>
                        <p class="datos"><%- usuario.Reputacion %></p>
                    </div>
                    <div id="boxRespuestas">
                        <h2>Respuestas</h2>
                        <p class="datos"><%- numeroRespuestas %></p>
                    </div>
                </div>

            </div>

        </div>
        <div id="boxInferior">
            <div id="boxTextMedallas">
                <p id="text_medallas">MEDALLAS</p>
            </div>

            <div id="boxMedallas" style="display:flex">
                <div id="boxBronce">
                    <p>BRONCE</p>
                </div>
                <div id="boxPlata">
                    <p>PLATA</p>
                </div>
                <div id="boxOro">
                    <p>ORO</p>
                </div>

            </div>

        </div>
    </div>
</body>

</html>